.button{}
.button__body{
	background-color: transparent;
	display: inline-flex;
}
.button__body-img:hover{
	background-color: #A9A32A;
	border-radius: 50%;
}
.button__body-img{}
.button__body-text{
	color: #fff;
	font-size: 1.3rem;
	align-self: flex-end;
	margin: 0px 0px 19px -52px;
}
