.carouse{}
.carousel__content{
	margin-bottom: 66px;
	line-height: 19.07px;
}

.carousel__content-items{
	width: 235px;
	overflow: hidden;
	display: flex;
}
.carousel__content-item{
	display: inline-block;
	min-width:100%;
   transition: transform 2s;
}
.carousel__btns button{
	background-color: transparent;
}
.carousel__btns button img:hover{
	filter: invert(60%) sepia(59%) saturate(514%) hue-rotate(19deg) brightness(92%) contrast(86%);
}
.carousel__btns-left{
	margin-right: 22px;
}
.carousel__btns-right{}