.carouselExternal{}
.carouselExternal__body{
	display: grid;
}
.carouselExternal__body-name{
	display: inline-flex;
	margin-bottom: 120px;
}
.carouselExternal__body-name span{
	font-size: 1.28rem;
	line-height: 24.52px;
	margin-right: 40px;
}
.carouselExternal__body-name span:last-child{
	margin-right: 0px;
}
.carouselExternal__body-name span:active::after{
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background-color: #868585;
}
.carouselExternal__active:after{
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background-color: #868585;
}
.carouselExternal__body-name-sp{}

.carouselExternal__body-content-items{
	width: 100%;
	overflow: hidden;
	display: flex;
}
.carouselExternal__body-content-item{
	display: inline-block;
	min-width:100%;
   transition: transform 2s;
}

@media (max-width: 909px) {
	.carouselExternal__body {
		justify-items: center;
	}
	.carouselExternal__body-name{
		margin-bottom: 80px;
	}
	.carouselExternal__body-content-items {
		width: 50%;
	}
} 
@media (max-width: 795px){
	.carouselExternal__body-name{
		margin-bottom: 50px;
	}
	.carouselExternal__body-content-items {
		width: 328px
	}
	.carouselExternal__body-name span{
		font-size: 1.22rem;
		line-height: 20.52px;
		margin-right: 28px;
	}
	.carouselExternal__body {
		justify-items: center;
	}
}