.corouselConsolidation{
	display: flex;
	flex-direction: row;
	min-height: 100%;
}
.corouselConsolidation__img {
	padding-right: 40px;
	flex: 1 1 50%;
}
.corouselConsolidation__img img{
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.corouselConsolidation__carousel{
	flex: 1 1 50%;
}

@media (max-width: 1132px){
	.corouselConsolidation__img{
		padding-right: 30px;
	}
}

@media (max-width: 1082px) {
	.corouselConsolidation__img{
		padding-right: 20px;
	}
}
@media (max-width: 965px) {
	.corouselConsolidation__img{
		padding-right: 10px;
	}
}
/* @media (max-width: 795px) {
	.corouselConsolidation__img{
		padding-top: 8px;
	}
} */