.footer{}
.footer__img{
	background-image: url('../img/footer/Rectangle.png');
	background-position: center;
	background-size: cover;
}
.footer__body{
	font-size: 2rem;
	color: antiquewhite;
}
.form-control{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid red;
}
.PhoneInputInput{
	flex: 1 1 auto;
	background-color: transparent;
   border-bottom: 2px solid red;
}

.footer__body-down{}
.footer__body-down-policy{}