.footer{}
.footer__img{
	background-image: url('../img/footer/Rectangle.png');
	background-position: center;
	background-size: cover;
}
.footer__body{
	font-size: 2rem;
	color: antiquewhite;
}

.footer__body-down{

}
.footer__body-down-policy{}