.greenTariff {}

.greenTariff__body {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
}

.greenTariff__body-row {
	display: flex;
	flex-direction: row;
}

.greenTariff__body-row-left {
	flex: 1 1 50%;
	padding-right: 90px;
}

.greenTariff__body-row-left-inform{
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows: 1fr 1fr ;
	margin-top: 100px;
	grid-column-gap: 40px;
	grid-row-gap: 19px;
	
} 

.greenTariff__body-row-left-inform-item h2{
	font-size: 1.28rem;
	font-weight: 700;
	line-height: 24.52px;
	
}
.greenTariff__body-row-left-inform-item p{
	line-height: 19.07px;
	font-size: 1rem;
	margin-bottom: 0px;
}


.greenTariff__body-row-right {
	display: flex;
	flex-direction: column;
	flex: 1 1 50%;
}

.greenTariff__body-row-right-text {
	font-size: 1.28rem;
	font-weight: 700;
	line-height: 24.52px;
	margin-bottom: 17px;
}

.greenTariff__body-row-right-img {
	position: relative;
	height: 100%;
}

.greenTariff__body-row-right-img-i {
	background-image: url('../img/greentariff/greenTariff.jpg');
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}



@media (max-width: 1082px) {
	.greenTariff__body-row-left{
		padding-right: 39px;
	}
}
@media (max-width: 965px) {
	.greenTariff__body-row-left{
		padding-right: 25px;
	}
} 
@media (max-width: 909px) {
	.greenTariff__body{
		margin-top: 90px;
	}
	.greenTariff__body-row {
		flex-direction: column;
		align-self: center;
	}
	.greenTariff__body-row-left-inform{
		width: 50%;
		margin: 64px auto 0px;
		grid-column-gap: 20px;
		grid-row-gap: 15px;
	}
	.greenTariff__body-row-left-inform-item h2{
		font-size: 1.2rem;
		line-height: 20.52px;
		margin-bottom: 5px;
	}
	.greenTariff__body-row-right{
		flex: 1 1 300px;
		margin-top: 40px;
	}
	.greenTariff__body-row-right-img-i{
		height: 100%;
	}
} 
@media (max-width: 795px){
	.greenTariff__body-row-left {
		padding: 0px 15px;
	}
	.greenTariff__body-row-left-inform{
		margin: 40px auto 0px;
		width: 328px;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}
	.greenTariff__body-row-right {
		flex: 1 1 356px;
		margin-top: 25px;
	}
	.greenTariff__body-row-right-text{
		font-size: 1.2rem;
		line-height: 20.52px;
	}
}
@media (max-width: 386px) {
	.greenTariff__body-row-right {
		padding: 0px 15px;
	}
	
}