.splashScreen{
	background-image: url('../img/header/splash-screen.jpg');
	background-position: center;
	background-size: cover;
	/* width: 100%; */
	min-height: 100vh;
}

.splashScreen-body{
	flex: 1 1 auto;
	max-width: 962px;
}
