.splashScreen{
	background-image: url('../img/header/splash-screen.jpg');
	background-position: center;
	background-size: cover;
	/* width: 100%; */
	min-height: 100vh;
}

.splashScreen__body{
	flex: 1 1 auto;
	max-width: 974px;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.splashScreen__body-position{
	padding: 76px 0px 38px 0px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.splashScreen__body-position-content{
	flex: 1 1 auto;
}
.splashScreen__body-up{
	font-size: 1.3rem;
	margin-top: 17%;
}
.splashScreen__body-title{
	font-weight: bold;
	font-size: 4.67rem;
	line-height: 8.4rem;
}
.splashScreen__body-subtitle{
	line-height: 5.4rem;
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 5.3%;
}
.splashScreen__body-btn{
	margin-bottom: 57.96px;
}
@media (max-width:980px) {
	.splashScreen__body-up{
		font-size: 1.2rem;
	}
	.splashScreen__body-title{
		font-size: 4rem;
		line-height: 7.2rem;
	}
	.splashScreen__body-subtitle{
		font-size: 2rem;
		line-height: 4.3rem;
	}
}
@media (max-width:840px){
	.splashScreen__body-up{
		font-size: 1.1rem;
	}
	.splashScreen__body-title{
		font-size: 3.4rem;
		line-height: 6rem;
	}
	.splashScreen__body-subtitle{
		font-size: 1.6rem;
		line-height: 3.3rem;
	}
}
@media (max-width:720px){
	.splashScreen__body-title{
		font-size: 3rem;
		line-height: 4.8rem;
	}
	.splashScreen__body-subtitle{
		font-size: 1.4rem;
		line-height: 2.6rem;
	}
}
@media (max-width:638px){
	.splashScreen__body-title{
		font-size: 2.8rem;
		line-height: 4rem;
	}
	.splashScreen__body-subtitle{
		font-size: 1.4rem;
	}
}
@media (max-height:683px){
	.splashScreen__body-up{
		margin-top: 8%;
	}
}