.steps{}
.steps__body{
	display: flex;
	flex-direction: row;
	margin-top: 150px;
}
.steps__body-column{
	flex: 1 1 50%;
	padding-right: 89px;
}
.steps__body-left{}
.steps__body-left-info{}
.steps__body-left-info-block{}
.steps__body-left-info-block span{
	display: block;
	margin-bottom: 7px;
	color: #868585;
}
.steps__body-left-info-block h2{
	font-size: 1.28rem;
	line-height: 24.52px;
	font-weight: bold;
	color: #303030;
	margin-bottom: 2px;
}
.steps__body-left-info-block p{
	font-size: 1rem;
	color: #303030;
	margin-bottom: 25px;
}
.steps__body-left-info-block:last-child p {
	margin-bottom: 0px;
}



.steps__body-right{
	flex: 1 1 50%;
	position: relative;
}
.steps__body-right-img{
	background-image: url('../img/steps/steps.png');
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

@media (max-width: 1082px) {
	.steps__body-column{
		padding-right: 39px;
	}
	
}
@media (max-width: 965px) {
	.steps__body-column{
		padding-right: 25px;
	}
	.steps__body-left-info-block h2{
		font-size: 1.2rem;
		line-height: 20.52px;
	}
	.steps__body-left-info-block p{
		margin-bottom: 15px;
	}
	.steps__body-left-info div:last-child p{
		margin-bottom: 0px;
	}
}
@media (max-width: 909px){
	.steps__body{
		margin-top: 90px;
		flex-direction: column;
	}
	.steps__body-left{
		padding-right: 0px;
		margin-bottom: 30px;
	}
	.steps__body-left-info-block span{
		margin-bottom: 4px;
	}
	.steps__body-left-info-block p{
		margin-bottom: 10px;
	}
	.steps__body-right{
		flex: 1 1 200px;
	}
	.steps__body-right-img{
		height: 100%;
	}
}